<html>
  <head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    {% if user %}
      <h2>Welcome, {{ user.first_name }}!</h2>
      <p>Here is your information:</p>
      <pre>
        ID: {{ user.id }}
        First name: {{ user.first_name }}
        Email: {{ user.email }}
        Clef ID: {{ user.clef_id }}
      </pre>
      <p>
      <a id='logout' href="#">logout</a>
      </p>
    {% else %}
      <h2>Sign in with Clef</h2>
      <script type='text/javascript'
        class='clef-button'
        src='https://clef.io/v3/clef.js'
        data-app-id='4f318ac177a9391c2e0d221203725ffd'
        data-redirect-url='{{ redirect_url }}'
        data-state='{{ state }}'>
      </script>
    {% endif %}
      <script>
        logout.onclick = function() {
          logout.innerHTML = 'trying logging out on your phone!'
          return false;
        }
      </script>
  </body>
</html>
