<html>
  <head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    <div class='no-user'>
      <h2>Sign in with Clef</h2>
      <script type='text/javascript'
        class='clef-button'
        src='https://clef.io/v3.1/clef.js'
        data-app-id='4f318ac177a9391c2e0d221203725ffd'
        data-redirect-url='{{ redirect_url }}'
        data-state='{{ state }}'
        data-popup='true'
      ></script>
    </div>

    <div class='user' style="display:none;">
      <h2>Welcome!</h2>
      <p>Here is your information:</p>
      <pre></pre>
    </div>

    <script>
      window.handleClefCallback = function(user) {
        $('.user').show().find('pre').text(JSON.stringify(user));
        $('.no-user').hide();
      };
    </script>
  </body>
</html>
