<html>
  <head>
    <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js'></script>
  </head>
  <body>
    <div class='no-user'>
      <h2>Sign in with Clef</h2>
      <a id='clefButton'>Log in with Clef</a>
    </div>

    <div class='user' style="display:none;">
      <h2>Welcome!</h2>
      <p>Here is your information:</p>
      <pre></pre>
    </div>

    <script>
      var LOGIN_URL = 'https://clef.io/iframes/login?app_id=4f318ac177a9391c2e0d221203725ffd&state={{state}}&redirect_url={{redirect_url}}';

      $('#clefButton').click(function(e) {
        e.preventDefault();
        var clefWindow = window.open(LOGIN_URL, 'clef', 'height=750,width=800');
      })

      window.handleClefCallback = function(user) {
        $('.user')
          .show()
          .find('pre').text(JSON.stringify(user));

        $('.no-user').hide();
      };
    </script>
  </body>
</html>
